$color-black: #000;
$color-white: #fff;

$color-gray-l1: #f9f9f9;
$color-gray-l2: #ededed;
$color-gray-l3: #dddddd;

$color-gray-m1: #a9a9a9;
$color-gray-m2: #7d7d7d;
$color-gray-m3: #5d5d5d;

$color-gray-d1: #3d3d3d;
$color-gray-d2: #2d2d2d;
$color-gray-d3: #1d1d1d;

$default-border-radius: .25rem;